*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.glmenprd{
    width: 310px;
}

.glmenprd:hover{
    scale:1.1 ;
   }

.glmenprd{
    border-color: black;
    border-width: 2px;
    border-style:groove;
    border-radius: 5%;
} 
