li{
    margin: 10px;
}
ul{
    position: relative;left: 70px;
    margin: 40px;
}
.symbol{
       
        position: relative;left: 350px;
}
.logo{
    height: 70px;
    width: 190px;
}

.myvideo{
    padding-bottom: 35px;
    
}

    .banner{
        height: 500px;
        width: 100%;
    }
.myvideo{

    width: 357px;
}
.women{
    text-align: justify;
}
.li:hover{
    left: 0px;
    text-decoration: underline white ;
    
}
.li:hover{left: 95px;}

.footer{
    background-attachment: fixed;
}